@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=IBM+Plex+Mono:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000503;
}


$color-1: #007cc4;
$color-2: #00c483;

.header {
    width: 100%;
    height: 33%;

    .juan {
        position: fixed;
        color: white;
        font-size: 1.3em;
        font-weight: 600;
        margin-top: 8%;
        margin-left: 80%;
        cursor: pointer;
        transition: transform 0.5s ease;
        
        &:hover {
        transform: translateX(-30%);
        }
    }
}

.econtainer {
    margin-left: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5em;
    font-weight: 500;

    .link {
        cursor: pointer;
        transition: margin-left 0.7s ;
        
        &:hover {
        margin-left: 6rem;
        }


        .title {
            color: white;
            font-size: 5em;
        }

        .subtitle {
            color: #00c483;
            font-size: 1em;
        }
    }
}

.footer {
    height: 33%;
}

@media only screen and (max-width: 768px) {

    .juan {
        position: fixed;
        color: white;
        font-size: 1.3em;
        font-weight: 600;
        margin-left: 5%;
        top: center;
        left: center;
        cursor: pointer;
        transition: transform 0.5s ease;
    }

    .econtainer {
        margin-left: 8%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 5em;
    
        .link {
            cursor: pointer;
            transition: margin-left 0.7s ;
    
    
            .title {
                color: white;
                font-size: 3em;
            }
    
            .subtitle {
                color: #00c483;
                font-size: 0.7em;
            }
        }
    }

}


// sass --watch css\portfolio.scss css\portfolio.css
//asasasas
