@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}


body {
    width: 100vw;
    height: 100vh;
}




$color-1: #007cc4;
$color-2: #00c483;
$bg-color: #000503;

#particles-js {
    background-color: $bg-color;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;

    .particles-js-canvas-el {
        position: fixed !important;
    }
}
.header {
    width: 100%;
    height: 33%;

    .juan {
        position: fixed;
        color: white;
        font-size: 1.5em;
        font-weight: 600;
        margin-top: 8%;
        margin-left: 80%;
        cursor: pointer;
        transition: transform 0.5s ease;
        
        &:hover {
        transform: translateX(-15%);
        }
    }
}

.econtainer {
    width: min-content;
    margin-left: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5em;
    font-weight: 500;

    .link {
        cursor: pointer;
        transition: margin-left 0.7s ;
        
        &:hover {
        margin-left: 3rem;
        }


        .title {
            color: white;
            font-size: 5em;
        }

        .subtitle {
            color: #00c483;
            font-size: 1em;
        }
    }
}

.footer {
    height: 33%;
}

@media only screen and (max-width: 768px) {

    .header {
        .juan {
            position: fixed;
            display: inline-block;
            color: white;
            font-size: 1.3em;
            font-weight: 600;
            margin-top: 1.65em;
            margin-left: 12em;
            cursor: pointer;
            transition: transform 0.5s ease;
    
            &:hover {
                transform: translateX(0%);
            }
        }
    }

    

    .econtainer {
        margin-left: 8%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 5em;
    
        .link {
            cursor: pointer;
            transition: margin-left 0.7s ;
            &:hover {
                margin-left: 0rem;
                }
    
            .title {
                color: white;
                font-size: 3em;
            }
            .subtitle {
                color: #00c483;
                font-size: 0.7em;
            }
        }
    }

}


// sass --watch css\portfolio.scss css\portfolio.css
//asasasas
